<form>
	<ol>
		{{#dc-table "rollTableIds" rowBuilder="newRollTableRow"}}
			{{#dc-field "Morrowindnd.LootEntry.RollTable"}}
				<select class="flex2" name={{prefix}} title="target">
					{{#select data}}
					<option value="">&nbsp;</option>
					{{#each ../possibleRollTables}}
					<option value="{{id}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
				{{minusButton}}
			{{/dc-field}}
		{{/dc-table}}
	</ol>
	{{dc-save}}
</form>