<form>
	<ol>
		{{#dc-table "rollTableIds" rowBuilder="newRollTableRow"}}
			{{#dc-field "Morrowindnd.LootEntry.Amount"}}
			<input name="{{prefix}}.qty" value="{{data.qty}}" />
			{{/dc-field}}
			{{#dc-field "Morrowindnd.LootEntry.RollTable"}}
				<select class="flex2" name="{{prefix}}.id" title="target">
					{{#select data.id}}
					<option value="">&nbsp;</option>
					{{#each ../possibleRollTables}}
					<option value="{{id}}">{{name}}</option>
					{{/each}}
					{{/select}}
				</select>
				{{minusButton}}
			{{/dc-field}}
		{{/dc-table}}
	</ol>
	{{dc-save}}
</form>